{% extends 'base.html' %}
{% load static %}

{% block title %} Estudiante {% endblock title %}

{% block main %}
    <div>
        <a href="{% url 'listado_estudiantes' %}" class="m-2 btn btn-primary">Listar estudiantes</a>
    </div>
    {% if estudiante %}
        <div class="row">
            <div class="card m-2" style="width: 18rem;" >
                <div class="card-body">
                <h5 class="card-title">{{ estudiante.nombre }} {{ estudiante.apellido }}</h5>
                <p class="card-text">email: {{ estudiante.email }}</p>
                </div>
            </div>
        </div>
    {% else %}
        <div class="card" style="width: 18rem;" >
            <div class="card-body">
                <p class="card-text">No se encontraron datos.</p>
            </div>
        </div>
    {% endif %}

{% endblock main %}